<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DMF Search Result</title>
</head>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<style>
    div.parent {
        text-align: center;
    }
    ul {
        display: inline-block;
        text-align: left;
    }
    body {
        background-color: #1f1f1f;
        font-size: 20px;
        color: #ffffff;
    }
    h1 {
        font-size: 40px;
        font-family: "Franklin Gothic Medium";
        color: #ffffff;
    }
    a:link {
        color: #8ab3ff;
    }
    a:visited {
        color: #ffc278;
    }
</style>
<body>
<div class="parent">
    <ul>
        <h1><b>SEARCH RESULT</b></h1>
        <span>SSN: </span><span th:text="${ssn.socialNum}"></span><span> was not found in DMF</span><br/>
        <br>
        <button onclick="history.back()">Go Back</button>
    </ul>
</div>
</body>
</html>
